* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  height: 40vh;
  padding: 20px;
  display: flex;
  gap: 40px;
  background: #29d0ed;
  color: rgb(39, 38, 38);
}

.footer-socials ul {
  display: flex;
  gap: 20px;
}

.footer-socials ul li {
  transition-duration: 0.6s;
}

.footer-socials ul li:hover {
  transform: scale(1.25);
}

.footer-socials li {
  list-style: none;
}

.footer-links {
  display: flex;
  gap: 150px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-links li {
  list-style: none;
  margin-top: 10px;
}

.footer-links ul h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.footer-links ul p {
  line-height: normal;
  font-size: 14px;
}

.bottom {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #29d0ed;
  color: rgb(39, 38, 38);
  font-size: 2rem;
}

hr {
  height: 3px;
  background: rgb(39, 38, 38);
}
