.offers {
  width: 65%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  margin-top: 50px;
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: #171717;
  font-size: 40px;
  font-weight: 700;
}

.offers-left p {
  font-size: 2rem;
  color: #171717;
  font-weight: 600;
}

.offers-left button {
  width: 180px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background: #c874f8e3;
  color: #fff;
  font-size: 20px;
}

.offers-left button:active {
  background: #caa2e1e3;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0px;
}
.offers img {
  height: 500px;
  padding-top: 130px;
}
